* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.container {
  background: silver;
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
  padding: 12px;
}

.box {
  margin: 24px 24px;
  height: 150px;
}

/* 모든 디바이스 */
div[class*="group"] {
  width: 100%;
}

/* 768px 이상일 때 */
@media (min-width: 768px) {
  div[class*="group"] {
    width: 50%;
  }
}

/* 1280px 이상일 때 */
@media (min-width: 1280px) {
  div[class*="group"] {
    width: 25%;
  }
}

.group1 .box {
  background: gold;
}
.group2 .box {
  background: pink;
}
.group3 .box {
  background: lightgreen;
}
.group4 .box {
  background: skyblue;
}
.group5 .box {
  background: salmon;
}
.group6 .box {
  background: violet;
}
.group7 .box {
  background: aquamarine;
}
.group8 .box {
  background: lightseagreen;
}
.group9 .box {
  background: MediumPurple;
}
.group10 .box {
  background: MidnightBlue;
}
.group11 .box {
  background: Olive;
}
.group12 .box {
  background: SandyBrown;
}
